body{background:#FAFFF0;}
ul,li{list-style:none;}
@media screen and (min-width: 768px) {	/*当屏幕大于等于768px时*/
   .qkhl-content .breadcrumb{
     line-height:78px;
   }
   .qkhl-content .refresh-handle>span{
     line-height:78px;
   }
   .qkhl-content .refresh-handle img{
     padding-top:33px;
   }
 }
 @media screen and (max-width: 768px) {	/*当屏幕小于等于768px时*/
    .qkhl-content .refresh-handle img{
      padding-top:8px;
    }
  }
.padding-rf-15{padding-right:15px;padding-left:15px;}
.padding-rf-10{padding-right:10px;padding-left:10px;}

.padding-tb-15{padding-top:15px;padding-bottom:15px;}
.padding-tb-10{padding-top:10px;padding-bottom:10px;}

.padding-10{padding:10px;}
.padding-15{padding:15px;}
.margin-bottom-10{
	margin-bottom:10px;
}
.margin-top-10{
	margin-top:10px;
}
.qkhl-border{
	border:1px solid #e7e7e7;
	border-radius: 4px;
	padding:10px;
}
.qkhl-border:hover{
	border-color:#C0C0C0;
}
.qkhl-border-primary{
	border-color: #337ab7;
	color:#337ab7;
}
.qkhl-border-primary:hover{
	border-color:#4169E1;
}
.qkhl-border-success{
	border-color:#dff0d8;
}
.qkhl-border-success:hover{
	border-color:#00FF00;
}
.qkhl-border-info{
	border-color:#d9edf7;
}
.qkhl-border-info:hover{
	border-color:#40E0D0;
}
 .qkhl-border-waring{
	border-color:#fcf8e3;
}
 .qkhl-border-waring:hover{
	border-color:#FF8000;
}
.qkhl-border-danger{
	border-color:#f2dede;
}
.qkhl-border-danger:hover{
	border-color:#E3170D;
}
.container-fluid{
	/*padding:0;*/
}
.container-fluid .navbar{margin-bottom:5px;}
.qhkl-hidden{display:none;}
.nav-left-container{
	/*width:200px;*/
	/*background-color: #d9edf7;*/
    border-color: #bce8f1;
    border:1px solid #87CEEB;
    color: #31708f;
    border-radius: 4px;
    margin-bottom: 20px;

}
.nav-left-container>ul{padding-left:0px;}
.nav-left-container>ul li{	/*侧边导航设置*/
	padding:5px;
}
.qkhl-content .refresh{
	padding:8px 15px;
	font-size:28px;

}
.qkhl-content .refresh:hover{
	cursor: pointer;
}
.nav-left-container>ul li:hover{
	background-color:#F0FFFF;
	cursor: pointer;
	color:#E3170D;
	border-radius:3px;
}
.nav-left-container>ul li.active{
	background-color:#F0FFFF;
	cursor: pointer;
	color:#E3170D;
	border-radius:3px;
}